@import 'font-face';
@import 'vars';

@import 'reset';
@import 'auth';

body, input {
  font-family: 'Airbnb Cereal App', Arial, Helvetica, sans-serif;
  color: $primaryColor;
}

.baris {
  display: flex;
  width: 100%;
}

.btn, a.btn {
  display: inline-block;
  font-family: 'Airbnb Cereal App';
  font-size: $psize;
  text-align: center;
  line-height: 0;
  color: $primaryColor;
  background-color: transparent;
  padding: 18px 0;
  min-width: 110px;
  @include layar(tablet) {
    width: 100%;
    margin-bottom: 12px;
    padding: 24px 0;
  }
  border: 2px solid #D0CCCC;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-auth-primary {
  background-color: black;
  color: $secondaryColor;
  border: 2px solid black;
}

// .btn.btn-auth-secondary {

// }