@font-face {
  font-family: "Airbnb Cereal App Extra";
  src: url("../fonts/AirbnbCerealApp-ExtraBold.woff2") format("woff2"), url("../fonts/AirbnbCerealApp-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/AirbnbCerealApp-Bold.woff2") format("woff2"), url("../fonts/AirbnbCerealApp-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/AirbnbCerealApp-Light.woff2") format("woff2"), url("../fonts/AirbnbCerealApp-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/AirbnbCerealApp-Medium.woff2") format("woff2"), url("../fonts/AirbnbCerealApp-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Airbnb Cereal App Book";
  src: url("../fonts/AirbnbCerealApp-Book.woff2") format("woff2"), url("../fonts/AirbnbCerealApp-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Airbnb Cereal App";
  src: url("../fonts/AirbnbCerealApp-Black.woff2") format("woff2"), url("../fonts/AirbnbCerealApp-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
/* 
  Reset CSS http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  End of Reset CSS by http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
body, input {
  font-family: "Airbnb Cereal App", Arial, Helvetica, sans-serif;
  color: #424242;
}

.container-fluid {
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.baris {
  display: flex;
  width: auto;
}

.btn, a.btn {
  display: inline-block;
  font-family: "Airbnb Cereal App";
  font-size: 17px;
  text-align: center;
  line-height: 0;
  color: #424242;
  background-color: transparent;
  padding: 18px 0;
  min-width: 110px;
  border: 2px solid #D0CCCC;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .btn, a.btn {
    width: 100%;
    margin-bottom: 12px;
    padding: 24px 0;
  }
}

.btn.btn-auth-primary {
  background-color: black;
  color: #fff;
  border: 2px solid black;
}

/* 
! AUTH
*/
#login .container-fluid, #register .container-fluid {
  display: flex;
  position: relative;
  height: 110vh;
}
@media only screen and (max-width: 768px) {
  #login .container-fluid, #register .container-fluid {
    flex-wrap: wrap;
  }
}

#login .hero-auth {
  height: 110vh;
}
#login .hero-auth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 110vh;
  background-color: rgba(0, 0, 0, 0.459);
}

#register .hero-auth {
  height: 100%;
}
#register .hero-auth::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.459);
}

.hero-auth {
  width: 60vw;
  color: #fff;
  background-image: url("../img/hero-login.png");
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .hero-auth {
    display: none;
  }
}
.hero-auth h1 {
  position: absolute;
  margin: 88px 0 0 56px;
  font-size: 64px;
  line-height: 83px;
  font-weight: bold;
  z-index: 1;
}
.hero-auth p {
  position: absolute;
  left: 29px;
  bottom: 18px;
  font-size: 17px;
  z-index: 1;
}

#container-register, #container-login {
  position: relative;
  width: 30%;
  box-sizing: border-box;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  #container-register, #container-login {
    width: 90%;
  }
}
#container-register .logo, #container-login .logo {
  position: absolute;
  top: 12px;
  right: -28px;
}
@media only screen and (max-width: 768px) {
  #container-register .logo, #container-login .logo {
    right: -18px;
  }
}
@media only screen and (max-width: 414px) {
  #container-register .logo, #container-login .logo {
    right: -8px;
  }
}
#container-register h1, #container-login h1 {
  margin-top: 12vw;
  font-size: 64px;
  font-weight: bold;
  color: #424242;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  #container-register h1, #container-login h1 {
    margin-top: 100px;
  }
}
#container-register p, #container-login p {
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 42px;
}

form label {
  font-family: "Airbnb Cereal App";
  font-size: 17px;
}
form .grup-input {
  border: 2px solid #E0E0E0;
  border-radius: 5px;
  box-shadow: 0 36px 36px -40px #000;
}
form .grup-input label {
  position: absolute;
  color: #D0CCCC;
  margin: 17px;
}
form .grup-input input {
  box-sizing: border-box;
  padding: 17px;
  width: 100%;
  border: none;
  font-size: 20px;
  padding-top: 40px;
}
form .grup-input input:focus {
  outline: none;
}
form .baris {
  margin-top: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .baris .grup-checkbox {
  display: flex;
  align-content: center;
}
form .baris .grup-checkbox label {
  margin-top: 3px;
  margin-left: 3px;
}
form .baris .grup-checkbox input {
  width: 18px;
  height: 18px;
}
form .baris a {
  text-decoration: none;
  color: #424242;
}
form .grup-btn {
  margin-top: 24px;
}
form .grup-btn button {
  margin-right: 12px;
}
@media only screen and (max-width: 768px) {
  form .grup-btn button {
    margin-right: 0;
  }
}

footer {
  position: absolute;
  bottom: 48px;
  left: 60vw;
  width: 302px;
  margin-left: 4.5vw;
}
@media only screen and (max-width: 768px) {
  footer {
    position: static;
    margin-top: 24px;
    margin-bottom: 18px;
  }
}
footer p {
  color: #D0CCCC;
  max-width: 302px;
  line-height: 22px;
}
footer p a {
  color: #424242;
}

/* 
! END OF AUTH
*/
/* 
! DASHBOARD
*/
/* 
! END OF DASHBOARD
*/
/* 
! DETAILS
*/
header.container-fluid a.btn-back {
  display: flex;
  position: absolute;
  top: 20px;
  left: 29px;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
  transition: ease 0.2s;
}
@media only screen and (max-width: 768px) {
  header.container-fluid a.btn-back {
    left: 16px;
  }
}
header.container-fluid a.btn-back:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.13);
}
header.container-fluid a.btn-back:active {
  transform: translateY(2px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
}
header.container-fluid a.btn-back svg {
  margin-right: 2px;
  align-self: center;
}
header.container-fluid img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.container {
  padding-bottom: 80px;
}
.container .baris {
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .container .baris {
    flex-direction: column;
  }
}

.kolom.artikel {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .kolom.artikel {
    width: 100%;
  }
}
.kolom.artikel .baris:first-child {
  padding-bottom: 4vh;
}
@media only screen and (max-width: 768px) {
  .kolom.artikel .baris {
    flex-direction: row;
    padding-bottom: 8vh;
  }
}
@media only screen and (max-width: 414px) {
  .kolom.artikel .baris {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .kolom.artikel .baris .kolom:first-child {
    width: 40%;
  }
}
@media only screen and (max-width: 414px) {
  .kolom.artikel .baris .kolom:first-child {
    width: 100%;
  }
}
.kolom.artikel .baris .kolom:nth-child(2) {
  display: flex;
  align-self: center;
  justify-content: flex-end;
}
.kolom.artikel .baris .kolom:nth-child(2) p.status {
  font-size: 30px;
  font-weight: bold;
  color: #99D815;
}
@media only screen and (max-width: 768px) {
  .kolom.artikel .baris .kolom:nth-child(2) {
    width: 60%;
  }
}
@media only screen and (max-width: 414px) {
  .kolom.artikel .baris .kolom:nth-child(2) {
    justify-content: flex-start;
    margin-top: 24px;
    width: 100%;
  }
}
.kolom.artikel .lencana {
  margin-top: 12px;
  max-width: 90px;
  padding: 6px 0;
  font-size: 17px;
  text-align: center;
  background-color: #FBCC38;
  color: white;
  border-radius: 15px;
}
.kolom.artikel .judul-buku {
  margin-top: 4px;
  font-weight: bold;
  font-size: 50px;
  color: #000;
  text-transform: uppercase;
}
.kolom.artikel .waktu {
  margin-top: 12px;
  color: black;
  font-size: 20px;
}
.kolom.artikel .baris p.deskripsi {
  margin-top: 42px;
  color: black;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  .kolom.artikel .baris p.deskripsi {
    margin-top: 8px;
  }
}

.kolom.aksi {
  margin-left: 42px;
  width: 30%;
}
@media only screen and (max-width: 768px) {
  .kolom.aksi {
    width: 100%;
    margin-left: 0;
  }
}
.kolom.aksi .baris {
  justify-content: flex-end;
}
.kolom.aksi img.sampul-buku {
  margin-top: -160px;
}
@media only screen and (max-width: 768px) {
  .kolom.aksi img.sampul-buku {
    display: none;
  }
}

.btn-pinjam {
  margin-right: 14px;
  margin-top: 180px;
  color: white;
  background-color: #FBCC38;
  font-size: 30px;
  width: 220px;
  text-align: center;
  padding: 18px 0;
  border-radius: 10px;
  transition: ease 0.2s;
}
@media only screen and (max-width: 768px) {
  .btn-pinjam {
    box-sizing: border-box;
    margin-right: 0;
    position: fixed;
    left: 5%;
    right: 5%;
    bottom: 2%;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
  }
}
.btn-pinjam:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.13);
}
.btn-pinjam:active {
  transform: translateY(2px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
}

/* 
! END OF DETAILS
*/

/*# sourceMappingURL=style.css.map */
